{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Improved Dictator Game: Your Choice
{% endblock %}

{% block content %}

    <p>
        You are the receiver. The other player decided to split {{group.sent_amount}} to you out of
        {{Constants.endowment}} while keeping {{keep_amount}} him/herself.
        <b>Do you wish to accept the deal?</b>
    </p>
    <div> 
        <button name="offer_accepted" value="True" class="btn btn-primary btn-large">Yes</button>
        <button name="offer_accepted" value="False" class="btn btn-primary btn-large">No</button>
    </div>




{% endblock %}